*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;
}
#box{
    width: 1423px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.nav{
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    border-bottom: 3px solid #DCCCC8;
    overflow: hidden;
}
.logo{
    float: left;
    height: 50px;
   margin: 12.5px 0px;
   margin-left: 200px;
}
li{
    float: left;
    margin: 0px 25px;
}
.deng{
    float: right;
    margin-right: 100px;
    overflow: hidden;
}
.deng img{
    margin-top:25px;
    position: absolute;
     right: 220px;
}
.deng input{
    width: 50px;
    height: 30px;
    border: 1px solid #F8573D;
    border-radius:5px;
    font-size: 20px;
    color: #E44530;
    text-align: center;
}

.foot{
    height: 360px;
    background-color: #505050;
    color: #9C9D98;
    font-size: 12px;
}
.foot ul{
    width: 140px;
    float: left;
}
.img{
    float: left;
    margin: 40px 0px 0px 200px;
}
.log{
 margin: 40px 40px 0px 20px;  
}
.log img{
    margin-bottom: 20px;
}
.log li{
    width: 140px;
    margin: 10px 0px;
}
.foot1{
    font-size: 16px;
    color: #fff;
    margin: 40px 38px 30px 25px ;
   
}
.foot li{
 margin-bottom: 8px;
}
.log1 li{
 width: 140px;

}
.log1 span{
    display: inline-block;
    width: 50%;
}
.log2 li{
    width: 170px;
}
.di{
    position: relative;
    top: 340px;
    left:-500px;
}
.a{
    margin-top: 20px;
    margin-left: 600px;
    /* margin:auto; */
}
.a>span{
    color:black;
    font-size: 30px;
}
.a_{
    margin-top:20px;
    margin-left:560px ;
}
.a_>span{
    margin-left: 20px;
}
.b{
    color:red;
}
.b_{
    width:120px;
    height:2px;
    background-color: red;
    margin-top: 10px;
    margin-left: 560px;
}
.c{
    width:100%;
    height:33px;
    border:1px solid gray;
    border-top: none;
}
.c_{
    float:left;
    overflow: hidden;
}
.d{
    float: left;
    overflow: hidden;
    width:220px;
    height:285px;
    margin-left: 120px;
    margin-top:15px;

}
.d_{
    width:1000px;
    background-color: gray;
    margin-top: 20px;
}
#list{
    overflow: hidden;
    background-color:#F7F7F7;
    width:100%;
}
.e{
   margin-left:400px;; 
}
.e>a{
    margin-left:70px;
    color:gray;
}
#e_{
    color:black;
}
#aa{
    width:1000px;
    margin-left:260px;
    overflow: hidden;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
   
}
#qw{
    width:222px;
    height:288px;
    float: left;
    margin-right:23px;
    position: relative;
}
.qw_{
    width:219px;
    height:131px;
    margin-top:15px;
   
   
}
.qe{
    height:60px;
}
.qr{
    width:59px;
    height:23px;
    border:1px solid #86AF91;
    color:#86AF91;
    border-radius:5px;
}
.qr_{
    margin-left: 54px;
}
.qt{
    width:50px;
    height:20px;
    border:1px solid #86AF91;
    color:#86AF91;
    border-radius:5px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    margin-left: 12px;
}
.qt_{
    margin-top: 15px;
    margin-left:75px;
}
.qy{
    color:red;
}
.qu{
    position: absolute;
    top:15px;
    left:139px;
    width:80px;
    height:30px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color:white;
}
.qi{
    margin-left: 632px;
    margin-bottom: 52px;
   
}
#out{
    background-color: #F7F7F7;
    width:100%;
    height:83px;
}
.qi_{
    padding-top: 30px;
    color:red;
}
.qo{
    color:red;
}